source_up_if_exists

export UMASK=0022

if [ "_$HOSTNAME" = "_probook" ]; then
  layout python3 --system-site-packages
  echo "Virtualenv has been activated for $(python -V)"
  echo "$(which python)"
  pip install -r requirements.txt
  eval "$(~/projects/python/pykeypass.py -e MQTT mosquitto -p monitor)"
  eval "$(~/projects/python/pykeypass.py -e INFLUXDB InfluxDB)"
  eval "$(~/projects/python/pykeypass.py -e GRAFANA_CLOUD GrafanaCloud -p 1163238)"
  export SMART_DEV=/dev/nvme0
else
  eval $(cat .localpass)
  export SMART_DEV=/dev/sda
fi
export DOCKER_GID="$(sed -n "s#^docker:x:\([0-9]*\):.*#\1#p" /etc/group)"
export LOKI_USER="680694"
export LOKI_PASS="${GRAFANA_CLOUD_PASS}"

TARGETS="0ccd:00d7 0ccd:00d3"
for TARGET in $TARGETS; do
  DEVNAME=$(lsusb -d "$TARGET" | awk '{print "/dev/bus/usb/"$2"/"substr($4,1,3)}')
  [ -n "$DEVNAME" ] && break
done
export RTL_DEV="$DEVNAME"

env_vars_required RTL_DEV
