#source_up
layout python3
echo "Virtualenv has been activated for $(python -V)"
echo "$(which python)"
pip install -r requirements.txt

export UMASK=0022
eval "$(~/projects/python/pykeypass.py -e MQTT mosquitto -p monitor)"
eval "$(~/projects/python/pykeypass.py -e INFLUXDB InfluxDB)"

