services:
  telegraf_stats:
    image: docker.io/telegraf:${TELEGRAF_TAG}
    command:
    - --strict-env-handling
    restart: unless-stopped
    user: telegraf
    volumes:
    - ./telegraf_stats/etc/telegraf/:/etc/telegraf/:ro
    - /:/hostfs:ro
    environment:
    - HOST_ETC=/hostfs/etc
    - HOST_PROC=/hostfs/proc
    - HOST_SYS=/hostfs/sys
    - HOST_VAR=/hostfs/var
    - HOST_RUN=/hostfs/run
    - HOST_MOUNT_PREFIX=/hostfs
    env_file:
    - env.influxdb
    - env.telegraf
    - env.telegraf_mqtt
    depends_on:
    - influxdb

  telegraf_logs:
    image: docker.io/telegraf:${TELEGRAF_TAG}
    command:
    - --strict-env-handling
    restart: unless-stopped
    env_file:
    - env.loki
    ports:
    - "127.0.0.1:6514:6514/udp"
    volumes:
    - ./telegraf_logs/etc/telegraf/:/etc/telegraf/:ro
    - ./telegraf_logs/tmp/input:/tmp/input
    - /var/run/docker.sock:/var/run/docker.sock:ro
    - ./debug/:/tmp/debug/
    - /:/hostfs:ro
    # to read docker.sock, gid 116 is req
    #on prolab user: "telegraf:116"
    user: "telegraf:109"

  # Message formattet (MQTT -> InfluxDB)
  # https://hub.docker.com/_/telegraf
  telegraf_mqtt:
    image: docker.io/telegraf:${TELEGRAF_TAG}
    command:
    - --strict-env-handling
    restart: unless-stopped
    volumes:
    # This file needs edited with your MQTT topics, host, etc
    - ./telegraf_mqtt/etc/telegraf/:/etc/telegraf/:ro
    - ./telegraf_mqtt/tmp/input:/tmp/input
    env_file:
    - env.influxdb
    - env.telegraf
    - env.telegraf_mqtt
    extra_hosts:
    - "mqtt:192.168.176.17"
    depends_on:
    - influxdb

  # Data storage
  # https://hub.docker.com/_/influxdb
  influxdb:
    # Name this container so other containers can find it easily
    # Name used in:
    # - Grafana data source
    # - Telegraf config
    #container_name: tig_influxdb
    image: docker.io/influxdb:1.8-alpine
    # image: quay.io/influxdb/influxdb:v2.0.3
    restart: unless-stopped
    ports:
    - 0.0.0.0:${INFLUXDB_PORT}:${INFLUXDB_PORT}/tcp
    environment:
    - INFLUXDB_ADMIN_USER=admin
    - INFLUXDB_ADMIN_PASSWORD=admin123
    #- INFLUXDB_DATA_ENGINE=tsm1
    #- INFLUXDB_REPORTING_DISABLED=false
    - INFLUX_ORG=private
    - INFLUXDB_LOGGING_LEVEL=warn
    - INFLUXDB_HTTP_LOG_ENABLED=false
    env_file:
    - env.influxdb
    volumes:
    - ./:/imports
    # Data persistence (could also be a bind mount: /srv/docker/influxdb/data:/var/lib/influxdb)
    - influxdb_data:/var/lib/influxdb
    # Backups...
    # - ./influxdb-backup:/backup
    # Host can run the following on a crontab, then rsnapshot can pickup:
    # docker exec -it influxdb influxd backup -database sensors /backup

  # Dashboard/graphing
  # https://hub.docker.com/r/grafana/grafana
  grafana:
    #container_name: tig_grafana
    image: docker.io/grafana/grafana-oss:11.5.8
    restart: unless-stopped
    depends_on:
    - influxdb
    links:
    - influxdb
    environment:
    - GF_SECURITY_ADMIN_USER=admin
    # changed after first login
    - GF_SECURITY_ADMIN_PASSWORD=admin
    - GF_INSTALL_PLUGINS=grafana-simple-json-datasource,petrslavotinek-carpetplot-panel
    #- GF_INSTALL_PLUGINS=grafana-clock-panel,briangann-gauge-panel,natel-plotly-panel
    # hostname: grafana
    env_file:
    - env.influxdb
    ports:
    - 0.0.0.0:3000:3000/tcp
    volumes:
    # Grafana gets grumpy over bind mount permissions, use a volume
    - grafana_data:/var/lib/grafana
    - ./grafana/provisioning/:/etc/grafana/provisioning/
    - ./grafana/dashboards/:/var/lib/grafana/dashboards/

  homeassistant:
    #container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    restart: unless-stopped
    volumes:
    - ./homeassistant/config:/config
    - ./homeassistant/media:/media
    - /etc/localtime:/etc/localtime:ro
    - /run/dbus:/run/dbus:ro
    #devices:
    #  - /dev/ttyUSB0:/dev/ttyUSB0
    network_mode: host
    #ports:	# not in host mode
    #- 0.0.0.0:8123:8123/tcp
    environment:
    - TZ=Europe/Amsterdam
    # for BT, works in docker not podman
    privileged: true
    cap_add:
    - NET_ADMIN
    - NET_RAW

# The minimal version does not contain build tools or support for projects.
  nodered:
    image: "docker.io/nodered/node-red:4.1.4-minimal"
    restart: unless-stopped
    user: node-red
    volumes:
    #- ./nodered:/data
    - nodered_data:/data
    ports:
    - 0.0.0.0:1880:1880/tcp

volumes:
  grafana_data: {}
  influxdb_data: {}
  nodered_data: {}
