export MQTT_SERV="mqtt"

export HOSTNAME=$(hostname -s)
if [ "_$HOSTNAME" = "_probook" ]; then
  layout python3
  echo "Virtualenv has been activated for $(python -V)"
  echo "$(which python)"
  pip install -r requirements.txt

  eval "$(~/projects/python/pykeypass.py -e MQTT mosquitto -p remote)"
  export CUSTOM_PROMPT="git"
fi
