#broker: hassbian
#username: hass
#password: !secret mqtt_password
#discovery: true
#discovery_prefix: homeassistant
#birth_message:
#  topic: 'lwt/hass'
#  payload: 'Online'
#  retain: true
#will_message:
#  topic: 'lwt/hass'
#  payload: 'Offline'
#  retain: true

binary_sensor:
  - name: "Terrassentür"
    unique_id: "0x00158d000309b98b_contact_zigbee"
    state_topic: "zigbee/terrasse"
    json_attributes_topic: "zigbee/terrasse"
    value_template: "{{ value_json.contact }}"
    payload_on: "open"
    payload_off: "closed"
    availability:
    - topic: "tasmota/zigbee/tele/LWT"
      payload_available: "Online"
      payload_not_available: "Offline"
    device:
      identifiers:
      - "zigbee_0x00158d000309b98b"
      name: "AqaraDoor"
      model: "Aqara door & window contact sensor (MCCGQ11LM)"
      manufacturer: "Xiaomi"
    device_class: door   # also: window, garage_door or opening
  - name: "FlurMotion"
    unique_id: "0x00158d0002f2a43c_occupancy_zigbee"
    state_topic: "zigbee/motion"
    json_attributes_topic: "zigbee/motion"
    value_template: "{{ value_json.motion }}"
    payload_on: "on"
    payload_off: "off"
    availability:
    - topic: "tasmota/zigbee/tele/LWT"
      payload_available: "Online"
      payload_not_available: "Offline"
    device:
      identifiers:
      - "zigbee_0x00158d0002f2a43c"
      name: "AqaraMove"
      model: "Aqara human body movement and illuminance sensor (RTCGQ11LM)"
      manufacturer: "Xiaomi"
    device_class: motion
# ok braucht on und off
  - name: "Node-RED"
    state_topic: "lwt/node-red"
    payload_on: "Online"
    payload_off: "Offline"
    #value_template: "{% if is_state(entity_id,\"Online\")-%}ON{%-else-%}OFF{%-endif%}"

switch:
  - name: "Funk Socket 1"
    unique_id: "rev8342lc_sw_1"
    command_topic: "omg/bridge/commands/MQTTtoPilight"
    payload_on: '{"message":"{\"id\":15790320,\"unit\":1,\"on\":1}","protocol":"arctech_switch"}'
    payload_off: '{"message":"{\"id\":15790320,\"unit\":1,\"off\":1}","protocol":"arctech_switch"}'
    availability:
    - topic: "omg/bridge/LWT"
    device:
      identifiers:
      - "rev8342lc.1"
# wird ignoriert:
      suggested_area: "Wohnzimmer"
  - name: "Funk Socket 2"
    unique_id: "rev8342lc_sw_2"
    command_topic: "omg/bridge/commands/MQTTtoPilight"
    payload_on: '{"message":"{\"id\":15790320,\"unit\":2,\"on\":1}","protocol":"arctech_switch"}'
    payload_off: '{"message":"{\"id\":15790320,\"unit\":2,\"off\":1}","protocol":"arctech_switch"}'
    availability:
    - topic: "omg/bridge/LWT"
  - name: "Funk Socket ALL"
    unique_id: "rev8342lc_sw_all"
    command_topic: "omg/bridge/commands/MQTTtoPilight"
    payload_on: '{"message":"{\"id\":15790320,\"all\":1,\"on\":1}","protocol":"arctech_switch"}'
    payload_off: '{"message":"{\"id\":15790320,\"all\":1,\"off\":1}","protocol":"arctech_switch"}'
    availability:
    - topic: "omg/bridge/LWT"

#  - name: "Tasmota Switch 1"
#  state_topic: "tasmota/tv/stat/RESULT"
#  value_template: "{{ value_json.POWER }}"
#  command_topic: "tasmota/tv/cmnd/POWER"
#  payload_on: "ON"
#  payload_off: "OFF"
#  availability_topic: "tasmota/tv/tele/LWT"
#  payload_available: "Online"
#  payload_not_available: "Offline"
#  qos: 1
#  retain: false

sensor:
# These are autodetected, and just classes are customized
  - name: "Energy house total"
    unique_id: "sensor.mt681_total"
    state_topic: "tasmota/strom/tele/SENSOR"
    value_template: "{{ value_json['MT681'].Total_in }}"
    device_class: energy
    state_class: total_increasing
  # 'last_reset_topic' "fake/last_reset" deprecated AND 'last_reset_topic' must be same as 'state_topic'
#    last_reset_value_template: >
#      {{"1970-01-01T00:00:00+00:00"}}
#        {{as_datetime(0|timestamp_utc).isoformat()}}
    unit_of_measurement: "kWh"
  - name: "Energy house current"
    unique_id: "sensor.mt681_current"
    state_topic: "tasmota/strom/tele/SENSOR"
    value_template: "{{ value_json['MT681'].Power_curr }}"
    device_class: power
    state_class: measurement
    unit_of_measurement: 'W'
  - name: "StromBattery"
    unique_id: "sensor.mt681_battery_level"
    state_topic: "tasmota/strom/tele/STATE"
    unit_of_measurement: "%"
    # 3.1-3.4
    value_template: "{{ ((value_json.Vcc | float(-1) - 3.1) * 333) | round() }}"
    device_class: battery
#tasmota/strom/tele/STATE {"Time":"2022-01-21T00:03:13","Uptime":"0T00:00:09","UptimeSec":9,"Vcc":3.366,"Heap":24,"SleepMode":"Dynamic","Sleep":50,"LoadAvg":19,"MqttCount":1,"Wifi":{"AP":1,"SSId":"BaseLAN","BSSId":"2C:67:FB:57:17:AC","Channel":6,"Mode":"11n","RSSI":32,"Signal":-84,"LinkCount":1,"Downtime":"0T00:00:03"}}
  - name: "Bad ATC Batterie"
    unique_id: "sensor.atc_edc2_battery"
    state_topic: "tasmota_ble/tele/bad"
    value_template: "{{ value_json['ATCe4edc2'].Battery }}"
    unit_of_measurement: "%"
    device_class: battery
    availability:
    - topic: "tasmota/abseite/tele/LWT"
      payload_available: "Online"
      payload_not_available: "Offline"
# WARNING (MainThread) [homeassistant.helpers.template] Template variable warning: 'dict object' has no attribute 'Temperature' when rendering '{{ value_json.Temperature }}'
  - name: "Bad Temperatur"
    unique_id: "sensor.atc_edc2_temperature"
    state_topic: "tasmota_ble/tele/bad"
    value_template: "{{ value_json['ATCe4edc2'].Temperature }}"
    unit_of_measurement: "°C"
    device_class: temperature
    availability:
    - topic: "tasmota/abseite/tele/LWT"
      payload_available: "Online"
      payload_not_available: "Offline"
  - name: "Bad Luftfeuchtigkeit"
    unique_id: "sensor.atc_edc2_humidity"
    state_topic: "tasmota_ble/tele/bad"
    value_template: "{{ value_json['ATCe4edc2'].Humidity }}"
    unit_of_measurement: "%"
    device_class: humidity
    availability:
    - topic: "tasmota/abseite/tele/LWT"
      payload_available: "Online"
      payload_not_available: "Offline"
  - name: "Aussensensor Temperature"
    unique_id: "sensor.rtl433aussen_temperature"
    state_topic: "rtl433/inFactory-TH"
    value_template: "{{ value_json.RTL433.Temperature }}"
    unit_of_measurement: "°C"
    device_class: temperature
    availability:
    - topic: "lwt/rtl_pipe"
      payload_available: "Online"
      payload_not_available: "Offline"
    device:
      identifiers:
      - "rtl433.93.inFactory-TH.0x01"
      name: "RTL433"
      model: "WS 1644 Sensor via DVB-t Stick"
      manufacturer: "Waagen-Schmitt / Terratec"
      sw_version: "20.02-38-gf26830d"
  - name: "Aussensensor Humidity" 
    unique_id: "sensor.rtl433aussen_humidity"
    state_topic: "rtl433/inFactory-TH"
    value_template: "{{ value_json.RTL433.Humidity }}"
    unit_of_measurement: "%"
    device_class: humidity
    availability:
    - topic: "lwt/rtl_pipe"
      payload_available: "Online"
      payload_not_available: "Offline"
    device:
      identifiers:
      - "rtl433.93.inFactory-TH.0x01"
      name: "RTL433"
      model: "WS 1644 Sensor via DVB-t Stick"
      manufacturer: "Waagen-Schmitt / Terratec"
      sw_version: "20.02-38-gf26830d"
  - name: "Aussensensor Battery Level"
    unique_id: "sensor.rtl433aussen_battery_level"
    state_topic: "rtl433/inFactory-TH"
    value_template: "{{ (value_json.RTL433.Vcc | float(-1) * 30) | round() }}"
    unit_of_measurement: "%"
    device_class: battery
    availability:
    - topic: "lwt/rtl_pipe"
      payload_available: "Online"
      payload_not_available: "Offline"

# Overwrite Deepsleep -> no availability
#  - name: "Sensor Temperatur"
#    unique_id: "sensor.sensor_bme680_temperature"
#    state_topic: "tasmota/sensor/tele/SENSOR"
#    value_template: "{{ value_json['BME680'].Temperature }}"
#    unit_of_measurement: "°C"
#    device_class: temperature
#    availability:
#    - topic: "tasmota/sensor/tele/LWT"
#      payload_available: "Online"
#      payload_not_available: "Offline"
#  - name: "Sensor Luftfeuchte"
#    unique_id: "sensor.sensor_bme680_humidity"
#    state_topic: "tasmota/sensor/tele/SENSOR"
#    value_template: "{{ value_json['BME680'].Humidity }}"
#    unit_of_measurement: "%"
#    device_class: humidity
#    availability:
#    - topic: "tasmota/sensor/tele/LWT"
#      payload_available: "Online"
#      payload_not_available: "Offline"
#  - name: "Sensor Luftdruck"
#    unique_id: "sensor.sensor_bme680_pressure"
#    state_topic: "tasmota/sensor/tele/SENSOR"
#    value_template: "{{ value_json['BME680'].Pressure }}"
#    unit_of_measurement: "hPa"
#    device_class: pressure
#    availability:
#    - topic: "tasmota/sensor/tele/LWT"
#      payload_available: "Online"
#      payload_not_available: "Offline"
#  - name: "Sensor Licht"
#    unique_id: "sensor.sensor_tls2561_.illuminance"
#    state_topic: "tasmota/sensor/tele/SENSOR"
#    value_template: "{{ value_json['TSL2561'].Illuminance }}"
#    unit_of_measurement: "lx"
#    device_class: illuminance
#    availability:
#    - topic: "tasmota/sensor/tele/LWT"
#      payload_available: "Online"
#      payload_not_available: "Offline"
#  - name: "Sensor interne Temperatur"
#    unique_id: "sensor.sensor_esp32_temperature"
#    state_topic: "tasmota/sensor/tele/SENSOR"
#    value_template: "{{ value_json['ESP32'].Temperature }}"
#    unit_of_measurement: "°C"
#    device_class: temperature
#    availability:
#    - topic: "tasmota/sensor/tele/LWT"
#      payload_available: "Online"
#      payload_not_available: "Offline"

# zigbee does not autodiscover
  - name: "Zigbee Controller Battery Level"
    unique_id: "sensor.zigbee_controller_battery_level"
    state_topic: "tasmota/zigbee/tele/STATE"
    unit_of_measurement: '%'
    value_template: "{{ ((value_json.Vcc | float(-1) - 3.3) * 600) | round() }}"
    device_class: battery
    availability:
    - topic: "tasmota/zigbee/tele/LWT"
      payload_available: "Online"
      payload_not_available: "Offline"

  - name: "Energy house total"
    unique_id: "sensor.mt681_total"
    state_topic: "tasmota/strom/tele/SENSOR"
    value_template: "{{ value_json['MT681'].Total_in }}"
    device_class: energy
    state_class: total_increasing
  # 'last_reset_topic' "fake/last_reset" deprecated AND 'last_reset_topic' must be same as 'state_topic'
#    last_reset_value_template: >
#      {{"1970-01-01T00:00:00+00:00"}}
#        {{as_datetime(0|timestamp_utc).isoformat()}}
    unit_of_measurement: "kWh"
  - name: "Energy house current"
    unique_id: "sensor.mt681_current"
    state_topic: "tasmota/strom/tele/SENSOR"
    value_template: "{{ value_json['MT681'].Power_curr }}"
    device_class: power
    state_class: measurement
    unit_of_measurement: 'W'
  - name: "StromBattery"
    unique_id: "sensor.mt681_battery_level"
    state_topic: "tasmota/strom/tele/STATE"
    unit_of_measurement: "%"
    # 3.1-3.4
    value_template: "{{ ((value_json.Vcc | float(-1) - 3.1) * 333) | round() }}"
    device_class: battery
#tasmota/strom/tele/STATE {"Time":"2022-01-21T00:03:13","Uptime":"0T00:00:09","UptimeSec":9,"Vcc":3.366,"Heap":24,"SleepMode":"Dynamic","Sleep":50,"LoadAvg":19,"MqttCount":1,"Wifi":{"AP":1,"SSId":"BaseLAN","BSSId":"2C:67:FB:57:17:AC","Channel":6,"Mode":"11n","RSSI":32,"Signal":-84,"LinkCount":1,"Downtime":"0T00:00:03"}}

  - name: "BadBattery"
    unique_id: "0xa4c138e4edc2_battery_atc"
    state_topic: "tasmota_ble/tele/bad"
    value_template: "{{ value_json['ATCe4edc2'].Battery }}"
    unit_of_measurement: "%"
    device_class: battery
    availability:
    - topic: "tasmota/abseite/tele/LWT"
      payload_available: "Online"
      payload_not_available: "Offline"
# WARNING (MainThread) [homeassistant.helpers.template] Template variable warning: 'dict object' has no attribute 'Temperature' when rendering '{{ value_json.Temperature }}'
  - name: "Badtemperatur"
    unique_id: "0xa4c138e4edc2_temperature_atc"
    state_topic: "tasmota_ble/tele/bad"
    value_template: "{{ value_json['ATCe4edc2'].Temperature }}"
    unit_of_measurement: "°C"
    device_class: temperature
    availability:
    - topic: "tasmota/abseite/tele/LWT"
      payload_available: "Online"
      payload_not_available: "Offline"
  - name: "Badfeuchtigkeit"
    unique_id: "0xa4c138e4edc2_humidity_atc"
    state_topic: "tasmota_ble/tele/bad"
    value_template: "{{ value_json['ATCe4edc2'].Humidity }}"
    unit_of_measurement: "%"
    device_class: humidity
    availability:
    - topic: "tasmota/abseite/tele/LWT"
      payload_available: "Online"
      payload_not_available: "Offline"
  - name: "SchlafBattery"
    unique_id: "0xa4c138a08f85_battery_atc"
    state_topic: "tasmota_ble/tele/schlaf"
    value_template: "{{ value_json['ATCa08f85'].Battery }}"
    unit_of_measurement: "%"
    device_class: battery
    availability:
    - topic: "tasmota/abseite/tele/LWT"
      payload_available: "Online"
      payload_not_available: "Offline"
  - name: "Schlaftemperatur"
    unique_id: "0xa4c138a08f85_temperature_atc"
    state_topic: "tasmota_ble/tele/schlaf"
    value_template: "{{ value_json['ATCa08f85'].Temperature }}"
    unit_of_measurement: "°C"
    device_class: temperature
    availability:
    - topic: "tasmota/abseite/tele/LWT"
      payload_available: "Online"
      payload_not_available: "Offline"
  - name: "Schlaffeuchtigkeit"
    unique_id: "0xa4c138a08f85_humidity_atc"
    state_topic: "tasmota_ble/tele/schlaf"
    value_template: "{{ value_json['ATCa08f85'].Humidity }}"
    unit_of_measurement: "%"
    device_class: humidity 
    availability:
    - topic: "tasmota/abseite/tele/LWT"
      payload_available: "Online"
      payload_not_available: "Offline"

  - name: "Temperatur Raspi"
    unique_id: "sensor.pi.temperature"
    state_topic: "test/pi/temperature"
    unit_of_measurement: "°C"
    device_class: temperature

  - name: "Wi-Fi Quality"
    unique_id: "sensor.tasmotair_wifi_rssi"
    state_topic: "tasmota/ir/tele/STATE"
    unit_of_measurement: "%"
    value_template: "{{ value_json['Wifi'].RSSI }}"
    device_class: signal_strength
    availability:
    - topic: "tasmota/ir/tele/LWT"
      payload_available: "Online"
      payload_not_available: "Offline"

# Track Firmware
  - name: "Tasmota IR Firmware"
    # unique_id: "sensor.tasmota.ir.firmware"
    state_topic: "tasmota/ir/stat/STATUS2"
    value_template: "{{value_json['StatusFWR'].Version }}"
    availability:
    - topic: "tasmota/ir/tele/LWT"
      payload_available: "Online"
      payload_not_available: "Offline"
    qos: 0

light:
  - name: "Tripod"
    unique_id: "light.zigbee_tripod_0xec1bbdfffeae209a"
    command_topic: "tasmota/zigbee/cmnd/ZbSend"
    state_topic: "tasmota/zigbee/STATE"
    state_value_template: "{{ value_json.POWER }}"
    brightness_command_topic: "cmnd/tasmota/Dimmer"
    brightness_state_topic: "tele/tasmota/STATE"
    brightness_scale: 100
    on_command_type: "brightness"
    brightness_value_template: "{{ value_json.Dimmer }}"
    payload_on: "{'Device':'Tripod','Send':{'Power':'ON'}}"
    payload_off: "{'Device':'Tripod','Send':{'Power':'ON'}}"
    availability:
    - topic: "tasmota/zigbee/tele/LWT"
      payload_available: "Online"
      payload_not_available: "Offline"
    qos: 1
    retain: false
