{
    "ip": "192.168.176.26",
    "dn": "TasmotaFlur",
    "fn": ["Flur", null, null, null, null, null, null, null],
    "hn": "tasmota-flur",
    "mac": "F4CFA2749CFC",
    "md": "Shelly 1",
    "ty": 0,
    "if": 0,
    "cam": 0,
    "ofln": "Offline",
    "onln": "Online",
    "state": ["OFF", "ON", "TOGGLE", "HOLD"],
    "sw": "15.4.0",
    "t": "tasmota/flur",
    "ft": "%topic%/%prefix%/",
    "tp": ["cmnd", "stat", "tele"],
    "rl": [
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0
    ],
    "swc": [
        -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
        -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1
    ],
    "swn": [
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null,
        null
    ],
    "btn": [
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0
    ],
    "so": {
        "4": 0,
        "11": 0,
        "13": 0,
        "17": 1,
        "20": 0,
        "30": 0,
        "68": 0,
        "73": 0,
        "82": 0,
        "114": 0,
        "117": 0
    },
    "lk": 0,
    "lt_st": 0,
    "bat": 0,
    "dslp": 0,
    "sho": [],
    "sht": [],
    "ver": 1
}
